.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100vw;
    align-items: center;
    background: url(../../img/bk.jpg);
}
.eventcontainer{
    display: flex;
    justify-content: space-around;
    

}
.bigcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
   
    justify-content: space-evenly;
}
.litlecontainer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
  
    justify-content: space-evenly;
}
.midcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
