.date{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    background-color: #FF4C29;
    width: 11rem;
    height: 2.8rem;
    text-align: center;
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
    font-size: 0.87rem;
    margin-top: 0.4rem;
    color: whitesmoke;
    cursor: pointer;
}
