
.SearchBardiv{
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.SearchBar{
    width: 70%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: rgb(85, 85, 85);
    padding-left: 10px;
    color: wheat;
    font-size: 17px;
    position: fixed;
    top: 75px;
}
.SearchBar::placeholder{
    color: rgb(148, 148, 148);
    padding-left: 10px;
    font-size: 17px;
}