*{
    box-sizing: border-box;
}
.containerGeneral{
    background-color: rgba(104, 104, 104,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerInfo{
    background-color: white;
    width: 90%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.info{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.containerClose{
    display: flex;
    justify-content: flex-end;
}
.btnClose{
    border: 0;
    font-size: 15px;
    border-radius: 30%;
    margin-bottom: 5px;
}
.btnClose:hover{
    color: wheat;
    background-color: rgb(156, 156, 156);
}
.name{
    display: flex;
    justify-content: center;
    font-size: 29px;
    font-weight: 600;
}
.containerdatediv{
    width: 60%;
    background-color: rgb(122, 122, 122);
    margin-right: 40px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
   }
.containerdate{
    color: wheat;
}
.dataone{
    display: flex;
    color: wheat;
    width: 100px;
    font-weight: 600;
}