/*MEDIDAS CORREGIDAS A REM!!!!!!!!!!!*/

.all{
    height: 140vh;
    /* background: url(../../img/bk.jpg); */
}
.title{
    color: rgb(202, 177, 177);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.container{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 95rem;
    align-items: center;
    
}
.btn{
    border: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: white;
    background-color: #FF4C29;
    transition: 0.4s;
    overflow: auto;
    cursor: pointer;
    position: absolute;
    margin-block-start: 5rem;
    margin-right: 0.8rem;
}

.containerClose{
    display: flex;
    justify-content: flex-end;
}

.btn2{
    border: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: white;
    background-color: #FF4C29;
    transition: 0.4s;
    overflow: auto;
    cursor: pointer;
    position: absolute;
    margin-block-start: 1.8rem;
    margin-right: 0.5rem;
}

.containerClose2{
    display: flex;
    justify-content: flex-end;
}

.btn:hover{
    background-color: #f80303;
}
.btn2:hover{
    background-color: #f80303;
}

.buttonBack{
    background-color: #FF4C29;
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttonBack:hover{
    box-shadow:  0px 0px 3.1rem rgba(0, 0, 0, 0.41);
    transition: 0.2s;
    cursor: pointer;
}

.bigcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 48rem;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.litlecontainer{
    display: flex;
    flex-wrap: wrap;
    width: 48rem;
    box-sizing: border-box;
    justify-content: space-evenly;
}
