
.title{
    color: rgb(202, 177, 177);
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.container{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    background: url(../../img/bk.jpg);
}
.btn{
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: #FF4C29;
    transition: 0.4s;
    overflow: auto;
    cursor: pointer;
    position: absolute;
    margin-block-start: 70px;
    margin-right: 15px;
}

.containerClose{
    display: flex;
    justify-content: flex-end;
}

.btn2{
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: #FF4C29;
    transition: 0.4s;
    overflow: auto;
    cursor: pointer;
    position: absolute;
    margin-block-start: 30px;
    margin-right: 8px;
}

.containerClose2{
    display: flex;
    justify-content: flex-end;
}

.btn:hover{
    background-color: #f80303;
}
.btn2:hover{
    background-color: #f80303;
}

.buttonBack{
    width: 100vw;
    margin-left: 50%;
    background-color: #FF4C29;
    margin-right: 10px;
    width: 90px;
    height: 40px;
    border-radius: 3px;
}

.buttonBack:hover{
    box-shadow:  0px 0px 50px rgba(0, 0, 0, 0.41);
    transition: 0.2s;
    cursor: pointer;
}

.bigcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.litlecontainer{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    box-sizing: border-box;
    justify-content: space-evenly;
}
