.inputText{
    width:50%;
    background-color: #dbdada;
    display: flex;
    margin-left: 9rem;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.inputText::placeholder{
    font-size: 15px;
    text-align: center;
    color: var(--color2);
}

.inputText::-webkit-outer-spin-button,
.inputText::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error{
    width:50%;
    background-color: #dbdada;
    display: flex;
    margin-left: 9rem;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 1rem;
    border-color: red; 
    margin-top: 1rem; 
}
.error::placeholder{
    color: red;
}

.btnLocation{
    background-color: var(--color4);
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 1rem;
    border-color: transparent;
    cursor: pointer;
}

.btnLocation:hover{
    background-color: #ff3f18;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.btnLocation:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }