.container{
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    margin-top: 3.5vw;
}
.box{
    display: flex;
    flex-direction: row;
}

.img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 1vw;
    margin-bottom: 4.5vw;
    margin-top: 2.3vw;

}

.p{
    color: white;
    margin: 3vh ;
    font-size: 13px;
    margin-top: 2.5vw;
    
}

.button{
margin-right: 2vw;
background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
width: 7vw;
height: 2vw;
text-align: center;
border-radius: 3px;
margin-bottom: 5vw;
font-size: 15px;

/* margin-right: 35px; */
border: none;
/* margin: 13px; */
cursor: pointer;
margin-top: 5.5vh;
transition: box-shadow 0.25s ease 0s;
}

.button:hover,
.button:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}