/* MEDIDAS CORREGIDAS A REM!!!!!!!!!!!*/

@import url(../../index.css);

.container{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 3.5rem;
}
.box{
    display: flex;
    flex-direction: row;
}

.img{
    border-radius: 50%;
    width: 2.9rem;
    height: 2.9rem;
    margin: 0.9rem;
    margin-bottom: 4.6rem;
    margin-top: 2.2rem;

}

.p{
    color: var(--color4);
    margin: 0.9rem;
    margin-top: 2.9rem ;
    font-size: 1rem;
    margin-right: 2rem;
    margin-left: 0.5rem;
    
}

.button{
margin-right: 1rem;
background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
width: 6.8rem;
height: 1.9rem;
text-align: center;
border-radius: 0.2rem;
font-size: 1rem;
color: #EEEEEE;
border: none;
cursor: pointer;
margin-top: 2.7rem;
transition: box-shadow 0.25s ease 0s;
color: whitesmoke;
}

.button:hover,
.button:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}