@import url(../../index.css);

.containerContact{
    display:flex;
    background-color: var(--color2);   
    flex-direction: column;
    justify-content: space-around;
    width: 39vw;
    height: 43vh;
    margin-top: 1px;
}


.labelNameContact{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    color: #dbdada;
    margin-left: 10px;
}

.nameContact{
    background-color: #dbdada;
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-left: 9px;
    color: var(--color2);
}

.labelMailContact{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    color: #dbdada;
    margin-left: 145px;
}

.mailContact{
    background-color: #dbdada;
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    color: var(--color2);
}

.labelPhoneContact{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    color: #dbdada;
    margin-left: 115px;
}

.phoneContact{
    background-color: #dbdada;
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    color: var(--color2);
}

.labelReasonContact{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    color: #dbdada;
    margin-left: 36px;
    height: 7vw;
    

}
.reasonContact{
    overflow: scroll;
    resize: none;
    font-size: 14px;
    color: var(--color2);
    margin-right: 1vw;
    margin-bottom: 7vw; 
    background-color: #dbdada;
    margin-left: 10px;
    width: 25vw;
    height:100%;
}

.btnSend{
   margin-top: 25px;
   margin-left: 47%;
   
   
   
   

}