.containerRegisterUser{
    width: 100vw;
    height: 100vh;
    background: url("../../img/bk.jpg");
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteinerData{
    height: 75vh;
    width: 30vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.containerForm{
    height: 55vh;
    width: 45vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containerSocialRegister{
    height: 8vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title{
    margin-top: 0px;
    margin-bottom:0px;
    color: white;
}

.error{
    color: red;
}

.subTitle{
    display:flex;
    color: white
}

.inputText{
    width:50%
}

.containerInput{
    width: 50%;
    display:flex;
}