.containerNav{
    display: flex;
    background-color: #334756;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    width: 100vw;
    height: 8vh;
}

.Containerlogo{
    margin-left:10px;
}

.logo{
    position:relative;
    width: 120px;
    height: 50px
}

.containerGenreAndSearch{
    display:flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.logoUser{
    position: relative;
    margin-right:10px;
}
.buttonRegister{
    position: relative;
    background-color: #FF4C29;
    margin-right: 10px;
    width: 120px;
    height: 50px;
}

.containerUserNavBar{
    position: relative;
    left: -15px;
}

